<!-- views/partials/header.ejs -->
<header>
    <nav>
        <a href="/readingTasks" class="button link">Reading Tasks</a>
        <a href="/readingTasks/new" class="button link">New Reading Task</a>
    </nav>
</header>