<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists of books to read</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="container">
        <h1>Lists of books to read</h1>
        <a href="/" class="button">Main Page</a>
        <a href="/readingTasks" class="button">See the list</a>
        <a href="/readingTasks/new" class="button">Add new task</a>
    </div>
</body>

</html>