/* public/css/style.css */
body,
h1,
h2,
h3,
p,
ul,
li,
button,
input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.error-message {
    color: red;
}

.button {
    background-color: #ff69b4;
    color: white;
    border: 2px solid #ff69b4;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #ff1493;
    border-color: #ff1493;
}

.book-list {
    list-style-type: none;
    padding: 0;
}

.book-item {
    margin-bottom: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.book-item h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

.book-item p {
    margin: 5px 0;
    font-size: 16px;
    color: #666;
}

.book-item button {
    background-color: #ff69b4;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.book-item button:hover {
    background-color: #ff1493;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #333;
}

a {
    color: #ff69b4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}